body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: #DAF7A6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transform: scale(.95);

}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;
}

.btn {
    border: 2px solid gray;
    color: black;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}



.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group label {
    margin-bottom: 8px;
    font-size: 20px;
    color: #555;
    font-weight: bold;
   
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
}

button {
    background-color: #1D861D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}
label{
    text-align: left;
}


input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;

    
}
.upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;

}
.fake-btn {
    display: inline-block;
    padding:  10px;
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
   
    cursor: pointer;
}
