body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 750px;
    height: max-content;
    margin: 10px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#find {
    color: #333;
    text-align: center;
    margin-top: -40px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
}

p,
ol,
ul {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;

}

ol,
ul {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}


#backlink {
    text-decoration: none;
    font-size: 25px;
    color: #e6070e;
    margin: 0;
    padding: 0 15px;
    background-color: #ffffff00;
}

#next {
    text-decoration: none;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 89%;
}