* {
    margin: 0;
    padding: 0; 
    line-height: 1.2;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  body{
    background-color: white;
    min-height: 100vh;
    background-position: center;
  }

 
/* -- Footer -- */

footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: rgb(2, 54, 2);

  padding: 60px 10%;
}

ul{
  list-style: none;
}

.footer-column{
  width: 25%;
}

.footer-column h4{
  position: relative;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 21px;
  color: rgb(45, 221, 180);
  text-transform: capitalize;
}

.footer-column h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: rgb(85, 182, 243);
  height: 2px;
  width: 40px;
}

ul li:not(:last-child){
  margin-bottom: 8px;
}

ul li a {
display: block;
font-size: 16px;
text-transform: capitalize;
color: rgb(255, 255, 255);
text-decoration: rgb(0, 0, 0);
transition: 1s;
}

footer ul li a:hover{
color: rgb(187, 88, 215);
padding-left: 7px;
}

@media(max-width:740px){
.footer-column{
  width: 50%;
  margin-bottom: 30px;
  text-align: center;
}

.footer-column h4::before{
  all: unset;
}
}

@media(max-width:555px){
.footer-column{
  width: 100%;
}
}

/* -- Footer -- */