body{
    margin-top: auto;
    margin-bottom: auto;
}
button i {
    color: white;
    padding-left: 8px;

}

button {
    font-weight: 500;
    font-size: 15px;
}


.job_listings {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 5px 5px 5px rgb(80, 152, 80);


}

.job_row {
    display: grid;

}

.job {
    border: 3px solid #438d38;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s ease-in-out; */
}

.job:hover {
    /* transform: scale(1.02); */
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: 1000;
    margin-bottom: 10px;
    color: #4CAF50;
    padding-bottom: 10px;
    border-bottom-style: solid;
}

p {
    color: #315687;
    font-weight: 600;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

.job_details {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.job_details h4 {
    margin: 0;
    color: #333;
}

.job_details p {
    margin: 0;
    color: #b06d6d;
    font-weight: 700;
}

.apply-btn {
    margin: 0;
    background-color: #6365f1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;


}

.apply-btn:hover {
    background-color: #45a049;
}

.subtitle {
    padding: 5px;
    width: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #333;



}

#bookmark {
    margin: 0 auto;
    padding: 0 auto;
    float: right;
    background: none;
    border-style: none;
}

#bookmark i {
    color: #bbbebb;
    font-size: 30px;

}

#bookmark :hover {
    color: #45a049;
    /* transform: scale(1.0);
    cursor: pointer; */
    


}
table td {
    color: #1266b9;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#back i{
    font-size: 30px;
}
#back{
    float: inline-start;
    padding: 5px auto;

}

@media screen and (max-width: 900px) {
    .job_row {
        display: grid;

    }

}

@media screen and (max-width: 800px) {
  

    .job_listings {
        max-width: 500px;
        margin:  auto;

    }

}

@media screen and (max-width: 650px) {

    .job_listings {
        max-width: 300px;
        margin:  auto;

    }

}