.asd {
    display: grid;
    gap: 5px;
    background-color: #135013;
    padding: 6px;
    max-width: 600px;
    height: max-content;
    margin: auto;
    box-shadow: 5px 3px 3px rgb(71, 69, 69);
    transform: scale(.75);

  }

  .www {
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .item1 {
    grid-column: 1 / span 4;
    grid-row: 1;
    background-color: #D2F2D2;
  }

  .item2 {
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: left;
  }

  .item3 {
    grid-column: 3 / span 2;
    grid-row: 2;
    text-align: left;
  }

  .item4 {
    grid-column: 4 ;
    grid-row: 1;
    background-color: rgba(255, 255, 255, 0.026);
    margin: 0;
    padding: 10px;
    text-align: end;

  }

  .item5 {
    grid-column: 1 / span 4;
    grid-row: 4 / span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #D2F2D2;
  }

  .item6 {
    background-color: #D2F2D2;
    grid-column: 1 / span 4;
    grid-row: 10;
  }
  .item7 {
    padding: 30px;
    margin: auto;
    grid-column: 1 / span 1;
    grid-row: 1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style:  solid;
    border-color: #9e92ea;
  }

  #name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: italic;
    color: #356FE6;
    font-weight: 1500;
  }

  .item5 label {
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }

  .item5 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }

 

  .item4 button {
    background-color: rgba(255, 255, 255, 0);
    color: #02f156;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
  } 
    
  .item6 button {
    background-color: #1D861D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 26px;
  }
  
  .item6 button:hover {
    background-color: #e71111;
  }
  
  .item4 button:hover {
    color: #356FE6;
  }
  .lable{
    width: 100%;
    text-align: left;
    padding: 7px;
    background-color: white;
    border-style: solid;
    border-color:#ccc ;
    border-radius: 5px;
    font-size: 28px;

  }
 
  @media screen and (max-width: 850px) {
    
    .asd {
    
       max-width: 400px;
       
      }
      #name {
      
        font-size: 25px;
       
      }
      .item7 {
        padding: 10px;
        margin: auto;
        

      }
     
      .item4 button {
        padding: 2px;
        font-weight: 300;
      } 
      .item2 , .item3{
        font-size: 18px;
        text-align: left;
      }
      .lable{
        width: 100%;
        font-size: 23px;
    
      }
    
}