body {
    /* background-color: rgba(175, 172, 172, 0.444); */
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    border: 2px solid #393838;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;


}

th,
td {
    text-align: left;
    padding: 12px;
    border: 2px solid #393838;
    font-size: large;
}

thead {
    background-color: #393838;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
     
}
thead th {
    text-align: center;
    border: 2px solid #f6f2f2;

}
#idNumber{
    text-align: center;
}
tbody {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #a8a4a4c8;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
.btn{
    text-align: center;
    display: block;
}
.btn li {
    display: inline-block;
    margin: 10px;
}
.btn li button{
    padding: 5px;
    width: 80px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
    outline: none;
}
td button{
    
    padding: 5px;
    margin: 0 10px ;
    width: 80px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
    outline: none;
}
#delbtn{
    background-color: red;
}
#btntd{
    text-align: center;
    width: 250px;
}