


.header {
    overflow: hidden;
    background-color: hsl(0, 0%, 95%);
    padding:  10px;
    border-radius: 8px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 35px;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(3, 70, 129);
  }
  
  .header a:hover {
    background-color: #5f95be;
    color: rgb(255, 255, 255);
  }

 
  .header-right {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   
  }

  .header-right a{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }
  
  .home-upper{
    background-color:#034681;
    display: flex;
    justify-content: space-between;
    height: 480px;
    border-radius: 15px;
  }

  .home-upper .sub-div1{
    width:50%;
    color: #f1f1f1;
    text-align: center;
   padding: 20px;
  }

  .home-upper .sub-div1 h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-top: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
  }

  .home-upper .sub-div1 h3{
    font-family:'Poppins', sans-serif ;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
   
  }

  .home-upper .sub-div1 button{
    padding: 20px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;

  }

  .home-upper .sub-div1 button:hover{
    background-color: #5f95be;
    color: #fff;
  }

  

  .home-upper .sub-div2{
    width:50%;
  }

  .home-upper .sub-div2 img {
    width: 90%; /* Set the width as a percentage to make it responsive within the sub-div */
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 68px;
}

/*
.overlay-div {
    
    border-radius: 15px;
    text-align: center;
    padding-top: 30px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 85%;
    margin-top: 100px;
    top: 50%; /* Center the overlay-div vertically */
   /* left: 50%; /* Center the overlay-div horizontally */
   /* transform: translate(-50%, -50%); /* Center the div both horizontally and vertically */
    /*display: flex;
    flex-direction: column; /* Arrange child elements in a column */
    /*align-items: center; /* Center the child elements horizontally */
/*}

/*
.overlay-div input {
    display: block;
    margin: 20px;
   
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 50px;
    border-radius: 40px;
    width: 80%; /* Set the width of the input field to 80% */
    /*padding: 10px; /* Optional: Add padding for better aesthetics */
   /* box-sizing: border-box; /* Include padding and border in the element's total width and height */
/*}*/

.home-search {
  
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  background-color: hsl(0, 0%, 95%); /* White background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

label {
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-bottom: 15px;
  color: #333; /* Dark text color */
  
}

input {
  border: 1px solid #3498db;
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
 
  border-radius: 10px;
  box-sizing: border-box;
  line-height: 30px;
}

select{
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  
}

input[type="submit"] {
  background-color: #3498db; /* Blue submit button color */
  color: #fff; /* White text color */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 8px;
  font-size: large;
}

input[type="submit"]:hover {
  background-color: #2980b9; /* Darker blue on hover */
}




